body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  #navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  #navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: space-around;
  }
  
  .nav-item {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .nav-item:hover {
    background-color: grey;
  }
  